.footer-style {
    height: inherit;
    background-color: #FFFFFF;
    width: 100%;

}

.footer-link-style {

   font-size: 1.2rem;
   color: #333333;
   background-color: #FFFFFF;
   text-decoration: none;
   height: 10rem;
   width: 100%;
   text-align: center;

}


.flex-list {
display: flex;
justify-content: center;

}

.link-style-footer a {
  color: #333333;
  margin-top: 4rem;
  margin-bottom: 2rem;
  font-size: 1.6rem;

}

.link-style-footer a:hover {
  color: #777;
  font-size: 1.6rem;
}
