#footer-style {

  height: inherit;
  margin-top: auto;
  margin-bottom: auto;

}
<<<<<<< HEAD

=======
>>>>>>> 7f685c40dc253fa779ad6b603544727fda5fd6c3
#footer-style .footer-container {

margin-top: 5rem;


}

#footer-style .footer-container li a {

color: #333333;
}

#footer-style .footer-container li a:hover {

color: #777777;
}

#footer-style .footer_style_two li a {

color: #333333 !important;
}

#footer-style .footer_style_two li a:hover {

color: #777777;
}
