 body {

min-height: 1800px;  
}


.top-menu-bar{
    
    width:100%;
    height:6rem;
    top:0;
    position:fixed;
    margin-bottom:2rem;
    background-color:rgba(250, 250, 250, 0.8)
}

#portfolio-display {
    
    height: inherit;
    margin-bottom: 10rem;
       
}

#bg {
   
/*
  top: 0; 
  left: 0;
*/
  margin-left: auto;
    margin-right: auto;
    min-width: 100%;
	
  /* Preserve aspet ratio */

  z-index: -3;
  background-size: cover;
}


.portfolio-1 {


    width: 100%;
    height: auto;
    margin-top: 6rem;
    
    
    
}


.first-port {
    
    height: 45rem;
    width: 100%;
    background-size: cover;

    
    
}



.portfolio-2 {

    margin-top: 5rem;
    margin-bottom: 4rem;
    z-index: 0;
    
    
}



.portfolio-3 {

padding-top: 10rem;

}


.portfolio-4 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}

.portfolio-5 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}
.portfolio-6 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}
.portfolio-7 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}
.portfolio-8 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}
.portfolio-9 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}

.portfolio-10 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}
.portfolio-11 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}
.portfolio-12 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}

.portfolio-13 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}

.portfolio-14 {

     margin-top: 10rem;
/*    background-image: url(../img/matheus-ferrero-173415.png);*/
    background-position: center center;
    background-repeat:  no-repeat;
/*    background-attachment: fixed;*/
    
}

.port-title {
    
    
    margin-top: 15rem;
    margin-bottom: 2rem;
    text-align: center;
    color:#4c4c4c;
    font-family: 'Fjalla One', sans-serif;
    
}

.port-title-about {
    
    margin-top:2rem;
    padding-top: 10rem;
    text-align: center;
    color:#4c4c4c;
    font-family: 'Fjalla One', sans-serif;
    
}

.port-detail {
    
    padding-right: 6rem;
    padding-left: 6rem;
    margin-bottom: 6rem;
    margin-top: 5rem;
    height: inherit;

}

.port-detail-about {
    
    padding-right: 6rem;
    padding-left: 6rem;
    margin-bottom: 0.2rem;
    margin-top: 5rem;
    height: inherit;

}

.port-secondary  {
    
    
}

/*------- Other text styles here------------------*/


.semi-bold{
    
    color:#444;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1rem;
}

.semi-bold-about {
    color:#444;
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.2rem;
    padding-top: 2rem;
     
}

.client {
    
    margin-top:auto;
    font-size: 1.2rem;
    height: inherit;
    
}

    
    
    
    
    
/*MEdia Quireies Go Here ------------------------------------------------------------------------------------------------------------------------------------   */
    
    /* Small only */
@media screen and (max-width: 39.9375em) {
    
    
    .portfolio-2 {

/*    background-image: url(../img/flower-small.png) !important; */

/*
    background-position: center center;
    background-repeat:  no-repeat;
*/

/*    background-attachment: fixed;*/
/*
    background-size: none;
    margin-top: 23rem;
    height: inherit; 
    width: inherit;
*/
    
    
}
    
    }

/* Medium and up */
@media screen and (min-width: 40em) {
    
    
    
    
    }

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    
    
    
    }

/* Large and up */
@media screen and (min-width: 64em) {
    
    
    
    }

/* Large only */
@media screen and (min-width: 64em) and (max-width: 74.9375em) {
    
    
    
    
    
    }